html {
  box-sizing: border-box;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #003976;
  font-family: Merriweather, Georgia, serif;
}

.data-sources li {
  margin-bottom: .5em;
}

p {
  font-size: 18px;
  line-height: 1.25;
}

strong {
  color: #003976;
}

a {
  color: $blue;

  &:visited {
    color: $blue;
  }

  &:active,
  &:hover {
    color: darken($blue, 10);
  }
}

.leaflet-popup-content {
  color: $blue !important;
  font-weight: bold;
  text-align: center;
}
