footer {
  margin: 5em 0 0 0;
  text-align: center;

  li {
    display: inline-block;
    line-height: 26px;

    &::after {
      content: ' | ';

      &:last-child {
        content: '';
      }
    }
  }
}

.blue-goose {
  width: 100px;
}

.last-updated {
  color: rgb(107, 107, 107);
}

.compiled-by {
  color: rgb(107, 107, 107);
}
