.trail-list {
  list-style: none;
  margin: 3%;
  padding: 0;

  li {
    margin: 5em auto;
    max-width: 750px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
